/**
* @file
* Installation styling.
*
*/

html body,
html body a,
html body a:hover,
html body a:focus,
html body a:active,
html body.install-page .site-version,
html body .claro-details,
html body .claro-details__summary,
html body .form-item__description,
html body .task-list li {
  color: #328ec7;
}

html body .task-list .is-active,
html body .button--primary,
html body .claro-details__summary:hover {
  background: #328ec7;
  color: #ffffff;
}

html body .button--primary:hover,
html body .button--primary:focus,
html body .button--primary:active {
  background: #3c3d41;
}

html body .task-list .is-active:after {
  border-left-color: #328ec7;
}

html body.install-page {
  background: #328ec7 !important;
  background-color: #328ec7 !important;
}

html body .layout-container header {
  background-image: url("../../images/Large-V3-Logo.svg") !important;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 10rem;
  margin-bottom: 2rem;
}

html body.install-page .site-name {
  color: #328ec7;
  font-size: 3rem !important;
  display: inline-block !important;
  margin-top: 4rem !important;
  margin-left: 12rem;
}

html body.install-page .site-version {
  vertical-align: middle;
}
