parameters:
  level: 1
  fileExtensions:
    - php
    - module
    - inc
    - install
    - theme
    - profile
  reportUnmatchedIgnoredErrors: false
  ignoreErrors:
    # new static() is a best practice in Drupal.
    - "#^Unsafe usage of new static#"
    # The Webship installer extends the database settings form of core on
    # purpose.
    -
      identifier: classExtendsInternalClass.classExtendsInternalClass
      path: */src/Form/SiteSettingsForm.php
